<div class="page-header">
  <h3>Business Canvas</h3>
</div>
<%= image_tag("renewable_yield_canvas.jpg", size: "900x600", :alt => "rss feed") %>
<br>
<%= link_to 'About', about_path %>
<br>
<%= link_to 'Team', team_path %>
